@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@500&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
          .box-container{
             width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1px);
            padding: 0;
            margin-left: -15px;
            z-index: 999999999999999999;
            position: fixed;
            top: 0;
            display: none;
          }
          .custom-box{
              width: 305px;
              height: 360px;
              border: 1px solid #ddd;
              background-color: white;
              border-radius: 5px;
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 10%;
              z-index: 99999999999999999;
          }
          .custom-box-header{
              height: 50px;
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid #ddd;
          }
          .custom-box-header h3{
              font-family: sans-serif;
              margin-left: 30px;
              font-size: 17px;
              color: black;
              display: inline-block;
              font-family: 'Rubik', sans-serif !important;
          }
          .custom-box-header span{
              display: inline-block;
              float: right;
              margin-right: 10px;
              border-radius: 50%;
              padding: 2px 6px;
              margin-top: 8px;
              cursor: pointer;
          }
          .custom-box-header span svg{
              margin-top: 2px;
          }
          .custom-box-header span:hover{
              background-color: #333;
              transition: 0.3s ease-in;
          }
          .custom-box-header span:hover svg{
              stroke: #ffffff;
          }
          .custom-box-content{
              margin: 20px 20px 0px 20px;
          }
          .custom-box-content button{
                margin-top: 30px;
                width: 200px;
                background-color: white;
                color: #222;
                border: 1px solid #222;
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                font-size: 15px;
                margin-left: 70px;
                cursor: pointer;
          }
          .custom-box-content button:hover{
              background-color: #222;
              color: #fff;
              transition: 0.3s linear;

          }
          :root {
            --color-light: rgb(255, 255, 255);
            --color-dark: #444;
            --color-signal: #333;
            --color-background: var(--color-light);
            --color-text: var(--color-dark);
            --color-accent: var(--color-signal);
            --size-bezel: 0.5rem;
            --size-radius: 4px;
            line-height: 1.4;
            font-family: 'Inter', sans-serif;
            font-size: calc(.6rem + .4vw);
            color: var(--color-text);
            background: var(--color-background);
            font-weight: 300;
            padding: 0 calc(var(--size-bezel) * 3);
        }
        .custom-box-date{
            color: #222 !important;
        }
        .custom-box-date::placeholder{
            color: #222 !important;
        }
        .custom-box-input{
            border: 2px solid #222;
            width: 100%;
            height: 40px;
            border-radius: 5px;
        }
        .custom-box-input::placeholder{
            color: #222 !important;
        }
        .input {
            position: relative;
            height: 40px;
        }
        .input__field:focus{
            outline: none !important;
        }
        .input__label_cus {
            position: absolute;
            left: 0;
            top: 0;
            padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
            margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
            background: pink;
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            background: var(--color-background);
            transition: transform 120ms ease-in;
            font-weight: 500;
            line-height: 1.2;
            color: #222;
        }
        .input__field_cus {
            box-sizing: border-box !important;
            display: block !important;
            width: 100% !important;
            border: 2px solid #222 !important;
            padding: 12px !important;
            color: currentColor !important;
            background: transparent !important;
            border-radius: var(--size-radius) !important;
        }
        .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
            transform: translate(0.25rem, -65%) scale(0.8);
            color: var(--color-accent);
        }
        .left-icon-box{
            width: 40px;
            height: 40px;
            border-left: 2px solid #222;
            border-top: 2px solid #222;
            border-bottom: 2px solid #222;
            position: fixed;
            right:0px;
            top: 20%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #f4f4f4;
            cursor: pointer;
          }
          .left-icon-box img{
            width: 30px;
            height: 30px;
            margin-top: 7px;
            margin-left: 6px;
        }
        .custom-box-submit-btn{
            float: right;
            margin-top: 340px;
            width: 60%;
            padding: 10px;
            background-color: #222;
            border: 1px solid #fff;
            margin-right: 80px;
            border-radius: 5px;
            color: #fff;
            position: absolute;
            left:70px;
            width: 155px;
            position: absolute;
            left:70px;
            width: 155px;
            margin-top: 226px;
            margin-top: 226px;
        }
        .custom-box-submit-btn:hover{
            transition: 0.3s linear;            
            cursor: pointer;
            background-color: #333;
        }
        .discounts-offer_type {
            color:black;
            font-size:16px;
            font-family: arial,sans-serif;
        }
        .discounts-drop_down {
            width: 155px;
            position:absolute;
            right:20px;
            border:2px solid #222 !important;
            font-size: 14px;
            font-family: arial,sans-serif; 
            height: 30px;
            border-radius: 5px;
            margin-top: 0px;
            position:absolute;
            left:130px;
            margin-bottom: 20px;
        }
        .discounts-offer_price {
            margin-top: 50px !important;
            position: absolute;
            font-size:15px;
            margin-left: -76px;
        }
        .discounts-custom-box-input {
            border: 2px solid #222 !important; 
            font-size:15px !important;
            height: 30px !important; 
            border-radius: 5px !important;
            margin-top:48px;
            padding-left:5px;
            position:absolute;
            left:130px;
            width:110px;
            margin-bottom: 10px;
        }
        .discounts-custom-box-date {
            margin-left:10px;
            font-size:15px; 
            font-weight: 400; 
            font-family:sans-serif;
            margin-top:80px;
            position:absolute;
        }
        .discounts-start {
            position:absolute;
            margin-left:120px;
            width:155px;
            padding-left:5px;
            cursor:pointer;
            margin-top:79px;
            border:2px solid #222;
            border-radius:5px;
            height: 30px !important;
        }
        .discounts-content_category {
            margin:top:160px;
            position:absolute;
        }
        .discounts_categories {
            position: absolute;
            margin-left:20px;
            margin-top: 132px;
            font-size: 15px; 
            font-family: sans-serif;
        }
        .select-discounts-categories {
            border: 2px solid #222 !important;
            height:30px;
            margin-top: 128px;
            width:155px;
            position: absolute;
            left: 130px;
            border-radius: 5px;
        }
        .discounts-location {   
            position: absolute;
            margin-top: 185px;
            padding-left: 26px;
            font-size: 15px;
            font-family: sans-serif;         
        }
        .discounts-select_location {
            position: absolute;
            height:30px;
            border: 2px solid #222;
            padding-left:5px;
            border-radius: 5px;
            margin-top: 180px;
            left: 130px;
            width: 155px;
        }
        .discounts-select_location {
            position: absolute;
            height:30px;
            border: 2px solid #222 !important;
            padding-left:5px;
            border-radius: 5px;
            margin-top: -5px;
            left: 130px;
            width: 155px;
        }