@font-face {
    font-family: Popins-Light;
    src: url('../fonts/Poppins-Light.otf');
}
@font-face {
    font-family: Popins-Medium;
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: acherus;
    src: url('../fonts/acherus_grotesque_-_regular.otf');
}
@font-face {
    font-family: ComicRelief;
    src: url('../fonts/ComicRelief.ttf');
}
@font-face {
    font-family: Delius;
    src: url('../fonts/delius-regular.ttf');
}
@font-face {
    font-family: acherus-bold;
    src: url('./fonts/AcherusGrotesque-Bold.ttf');
}
@font-face {
font-family: acherus-light;
    src: url('./fonts/acherus-lite.ttf');
}
@font-face {
font-family: Open-Sans;
    src: url('/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold.ttf');
}
*{
margin:0;
padding:0;
}
body{
background-color: transparent;
height: auto !important;
}

.popup-box {
width: 320px;
height: auto !important;
/*border: 1px solid #999;*/
background-color: #fff;
/*box-shadow: 1px 0px 15px 0px rgba(62, 69, 81, 0.7);*/
}
.popup-box-header{
height: 60px;
border-bottom:1px solid #ddd;
text-align: center;
margin-top: 10px;
font-size: 19px;
color: black;
font-weight: 500;

}
.popup-box-header img {
width: 210px;
height: auto;
margin-top:-20px;
margin: 0 auto;
}
.popup-box-section-icon{
height: 65px;
border-bottom: 1px solid #ddd;
padding: 05px 05px 05px 05px;
display:none;

}
.icon-highlight{
width: 19%;
padding:05px 05px 03px 10px;
display:inline-block;
}
.icon-highlight:hover {
background-color: #ddd;
cursor: pointer;
}
.icon-highlight img {
width: 20px;
height: 20px;
padding: 0px 0px 0px 20px;
}
.icon-highlight-text {
font-size: 11px;
padding: 5px 0px 0px 02px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.icon-highlight-text-1{
font-size: 11px;
padding: 5px 0px 0px 06px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}

.icon-public-highlight{
width: 19%;
padding:05px 05px 03px 10px;
display:inline-block;
}
.icon-public-highlight:hover {
background-color: #ddd !important;
cursor: pointer;
}
.icon-public-highlight img {
width: 22px;
height: 22px;
padding: 0px 0px 0px 17px;
}
.icon-public-highlight-text {
font-size: 11px;
padding: 5px 0px 0px 10px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.icon-public-highlight-text-1 {
font-size: 11px;
padding: 5px 0px 0px 10px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}

/*
.icon-public-highlight{
width: 19%;
padding:05px 05px 03px 10px;
display:inline-block;
}
.icon-public-highlight:hover {
background-color: #ddd;
cursor: pointer;
}
.icon-public-highlight img {
width: 20px;
height: 20px;
padding: 0px 0px 0px 17px;
}
.icon-public-highlight-text {
font-size: 11px;
padding: 5px 0px 0px 15px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.icon-public-highlight-text-1 {
font-size: 11px;
padding: 5px 0px 0px 13px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
*/
.icon-on-off{
width: 19%;
padding:05px 05px 05px 10px;
display:inline-block;
}
.icon-on-off:hover {
background-color: #ddd;
cursor: pointer;
}
.icon-on-off img {
width: 22px;
height: 22px;
padding: 0px 0px 0px 16px;
}
.icon-on-off-text {
font-size: 11px;
padding: 5px 0px 0px 04px;
font-family: 'Roboto', sans-serif;;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.icon-on-off-text-1 {
font-size: 11px;
padding: 5px 0px 0px 7px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}

.icon-like{
width: 19%;
padding:05px 05px 05px 10px;
display:inline-block;
}
.icon-like:hover {
background-color: #ddd;
cursor: pointer;
}
.icon-like img {
width: 22px;
height: 22px;
padding: 0px 0px 0px 17px;
}
.icon-like-text {
font-size: 11px;
padding: 5px 0px 0px 02px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 0px;
}
.icon-like-text-1 {
font-size: 11px;
padding: 5px 0px 0px 0px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.popup-box-section-main{
height: 240px;
border-bottom: 1px solid #ddd;
display: none;
}
.menu-select-topic{
    padding: 15px 15px 17px 15px;
    height:30px;
    margin-top: 05px;
}
.menu-select-topic:hover{
    background-color: #ddd;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;;
}
.menu-select-topic:hover .comboTreeInputBox{
    background-color: #ddd !important;
}
.menu-dashboard {
padding: 10px 15px 17px 15px;
height:30px;
margin-top: 05px;
}
.menu-dashboard:hover {
background-color: #ddd;
cursor: pointer;
font-family: 'Roboto', sans-serif;;
}
.menu-dashboard img {
height: 26px;
width: 26px;
padding-left: 10px;
padding-right: 15px;
padding-top: 10px;
}
.menu-dashboard-title {
display:inline-block;
margin-top: 09px;
position: absolute;
font-size: 15px;
font-family: Open-Sans;
/*font-family: acherus;*/
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.menu-dashboard-title-bookmark{
display:inline-block;
margin-top: 0px;
position: absolute;
font-size: 15px;
font-family: Open-Sans;
/*font-family: acherus;*/
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
.menu-dashboard-desc{
padding-left: 45px;
margin-top:-12px;
font-size: 11px;
font-family: Open-Sans;
/*font-family: acherus;*/
font-weight: 600;
color: #555;
letter-spacing: 1px;
}
.menu-dashboard select {
background-color: transparent;
border: none;
width: 240px;
margin-top:08px;
position: absolute;
font-size: 15px;
font-family: Open-Sans;
font-weight: 600;
color: #000;
letter-spacing: 1px;
}
select option{
font-size: 26px;
font-family: Open-Sans;
font-weight: 600;
}
.menu-dashboard select:focus {
outline: none !important;
}
.popup-box-section-footer {
height: 50px !important;
margin-bottom:-30px !important;
}
.section-logout {
width: 200px;
display: inline-block;
cursor: pointer;
}
.section-logout img {
height: 35px;
width:  35px;
padding: 10px 10px 10px 20px;
display:inline-block;
}
.section-logout .usr-name {
display: inline-block;
margin-top: 14px;
position: absolute;
/*font-family: Open-Sans;*/
font-family: Open-Sans;
font-weight: 600;
font-size:15px;
color: white;
letter-spacing: 1px;
}
.section-help {
display: inline-block;
position: absolute;
margin-top: 11px;
margin-left: 80px;
cursor: pointer;
}
.section-help img {
height: 32px;
width: 32px;
}
.section-help:hover {
background-color: #ddd;
}
.section-profile {
display: inline-block;
position: absolute;
margin-top: 14px;
margin-left: 75px;
cursor: pointer;
}
.section-profile img {
height: 25px;
width: 25px;
}
.section-profile:hover {
background-color: #ddd;
}


/* Popup Login */

.popup-box-login {
margin-left: 17px !important;
margin-top: 15px;
margin-bottom: 10px;
}
.login-box {
padding: 10px 40px 10px 25px;

}
.login-text {
font-family: Open-Sans;
font-weight: 600;
font-size: 14px;
letter-spacing: 1px;
}
.login-box input {
width: 260px;
height: 40px;
margin: 10px 10px 20px 05px;
color: #0d47a1;
padding: 10px;
border-radius: 1px;
border: 1px solid #e1e1e1
}
.login-box input:focus {
outline: none;
border-color:#0d47a1;
color: #0d47a1 !important;
}
.login-box input:focus::-webkit-input-placeholder {
color: #0d47a1;
}
.login-box .btn-signin {
width: 200px;
padding:10px 30px 10px 30px;
margin: 25px 20px 10px 40px;
border-radius: 4px;
background-color: #28b473;
color: #eceff1;
}
.login-box .btn-signin:focus {
outline: none;
}
.signup-box {
margin: 20px;
padding: 0px 0px 0px 60px;
}
.signup-box .signup-link {
padding-left: 10px;
}
.login-button {
border: 1px solid #ddd;
border-radius: 3px;
cursor: pointer;
margin-bottom: 40px;
margin-top: 10px;
padding-bottom: 10px;
background-color: #f8f8f8;
color: black;
}
.login-button:hover {
background-color: #ddd;
}
.login-google {
border: 1px solid #ddd;
border-radius: 3px;
cursor: pointer;
background-color: #f8f8f8;
margin-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
width: 240px;

}
.login-google:hover {
background-color: #ddd;
}
.login-image {
height: 20px;
width: 20px;
margin: 12px 40px 12px 10px;
display: inline-block;
}
.login-image-user {
height: 25px;
width: 25px;
padding: 12px 40px 10px 10px;
}
img {
margin: 0;
padding: 0;
}
.login-user {
text-align: center;
margin-top: -35px;
font-family: Open-Sans;
font-weight: 600;
font-size: 15px;
}
.profile-image-icon  {
text-transform: uppercase;
width: 18px;
height: 15px;
padding-top:16px;
padding-left:08px;
padding-right: 06px;
border-radius: 50%;
background: #512DA8;
font-size: 12px;
color: #fff;
text-align: center;
line-height: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: none;
position: absolute;
margin-top: 0px;
margin-left: 08px;
}
.profile-logout {
padding-left: 35px;
position: fixed !important;
position: absolute;
margin-top: 08px;
}
.profile-name {
font-size: 14px;
padding-left: 50px;
font-weight: 500;
position: absolute;
padding-top: 05px !important;
font-family: Open-Sans;
font-weight: 600;
}
.import-status {
float: right !important;
padding-top: 07px;
font-family: sans-serif;
font-size: 12px;
color: green;
}



/* Enable dark Mode */


[data-theme="dark"]{
background-color: #323a42 !important;
}
[data-theme="dark"] .popup-box{
background-color: #323a42 !important;
}
[data-theme="dark"] #logo-img{
content:url('../img/icon-svg/logo-white.svg');
margin-top: -5px !important;
}
[data-theme="dark"] .icon-highlight-text-1{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-highlight-text {
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-highlight:hover {
background-color: rgba(62, 69, 81, 0.7) !important;
}

[data-theme="dark"] .icon-public-highlight-text{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-public-highlight-text-1{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-public-highlight:hover{
background-color: rgba(62, 69, 81, 0.7) !important;
}
[data-theme="dark"] .icon-on-off-text{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-on-off:hover{
background-color: rgba(62, 69, 81, 0.7) !important;
}
[data-theme="dark"] .icon-on-off-text-1{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-like-text{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-like-text-1{
color: #f7f7ff !important;
}
[data-theme="dark"] .icon-like:hover{
background-color: rgba(62, 69, 81, 0.7) !important;
}
[data-theme="dark"] .menu-dashboard-title{
color: #fff !important;
}
[data-theme="dark"] .menu-dashboard-title-bookmark{
color: #fff !important;
}
[data-theme="dark"] .menu-dashboard-desc{
color: #d9d9d9 !important;
}
[data-theme="dark"] .menu-dashboard select{
color: #fff !important;
}
[data-theme="dark"] .profile-name {
color: #f7f7ff !important;
}
[data-theme="dark"] #icon-darkmode {
content:url('../img/icon-svg/dark-mode-white.png');
}
[data-theme="dark"] .menu-dashboard:hover {
background-color: rgba(62, 69, 81, 0.7) !important;
}
[daga-theme="dark"] .icon-on {
content: url('../img/icon-svg/highlight.svg');
}
[data-theme="dark"] .like-icon {
content: url('../img/icon-svg/bookmark-white.svg');
}
[data-theme="dark"] #project-select {
content: url('../img/icon-svg/project-select-white.svg');
}
[data-theme="dark"] #icon-dashboard {
content: url('../img/icon-svg/dashboard-white.svg');
}
[data-theme="dark"] #icon-page-highlight{
content: url('../img/icon-svg/page-highlight-white.svg');
}
[data-theme="dark"] #icon-bookmark{
content: url('../img/icon-svg/bookmark-white.svg');
}
[data-theme="dark"] #icon-search{
content: url('../img/icon-svg/search-white.svg');
}
[data-theme="dark"] #icon-import{
content: url('../img/icon-svg/import-white.svg');
}
[data-theme="dark"] #icon-profile {
content: url('../img/icon-svg/profile-white.svg');
}
[data-theme="dark"] .section-profile:hover {
background-color: rgba(62, 69, 81, 0.7)
}
[data-theme="dark"] #icon-help {
content: url('../img/icon-svg/help-white.svg');
}
[data-theme="dark"] .section-help:hover {
background-color: rgba(62, 69, 81, 0.7) !important;
}
[data-theme="dark"] .login-text {
color: white !important;
}
[data-theme="dark"] .icon-twitter{
content: url('../img/icon-svg/twitter-white.svg');
}
[data-theme="dark"] .icon-on-off-img {
content: url("../img/icon-svg/on-off-white.svg");
}
[data-theme="dark"] .icon-sticky{
content: url('../img/icon-svg/sticky-notes-white.svg');
}
[data-theme="dark"] .comboTreeInputBox{
    background: transparent !important;
    color: #fff !important;
}
[data-theme="dark"] #icon-folder path{
    stroke: #fff !important;
}
[data-theme="dark"] #combo-arrow-down path{
    stroke: #fff !important;
}
[data-theme="dark"] #select-topic-hover:hover{
    background-color: rgba(62, 69, 81, 0.7) !important;
}
[data-theme="dark"] #select-topic-hover:hover .comboTreeInputBox{
    background: transparent !important;
}
[data-theme="dark"] .comboTreeDropDownContainer{
    background: #3e4551 !important;
}
[data-theme="dark"] .comboTreeDropDownContainer li{
    color: white !important;
}
[data-theme="dark"] #dropdown-right-arrow path{
    stroke: #fff !important;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-container button{
    width: 150px;
    margin: 30px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
    font-size: 15px;
}
.box-container button:hover{
    background-color: #222;
    color: #fff;
    transition: 0.3s ease-in;
}


.tooltip-post{
    position: absolute;
    top: 175px;
    right: 30px;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    font-family: Open-Sans-Medium;
    font-weight: 800;
    visibility: hidden;
}
.tooltip-post .tooltip-text::after{
    content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
#interest-ad:hover .tooltip-post{
    visibility: visible !important;
}





.tooltip-offer{
    position: absolute;
    top: 245px;
    right: 30px;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    font-family: Open-Sans-Medium;
    font-weight: 800;
    visibility: hidden;
}
.tooltip-offer .tooltip-text::after{
    content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
#view-offer:hover .tooltip-offer{
    visibility: visible !important;
}