@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@500&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
          .box-container{
             width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1px);
            padding: 0;
            margin-left: -15px;
            z-index: 999999999999999999;
            position: fixed;
            top: 0;
          }
          .custom-box{
              width: 400px;
              height: 250px;
              border: 1px solid #ddd;
              background-color: white;
              border-radius: 5px;
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 30%;
              z-index: 99999999999999999;
          }
          .custom-box-header{
              height: 50px;
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid #ddd;
          }
          .custom-box-header h3{
              font-family: sans-serif;
              margin-left: 30px;
              font-size: 17px;
              color: black;
              display: inline-block;
              font-family: 'Rubik', sans-serif !important;
              margin-top: 15px !important;
          }
          .custom-box-header span{
              display: inline-block;
              float: right;
              margin-right: 10px;
              border-radius: 50%;
              padding: 2px 6px;
              margin-top: 8px;
              cursor: pointer;
          }
          .custom-box-header span svg{
              margin-top: 2px;
          }
          .custom-box-header span:hover{
              background-color: #333;
              transition: 0.3s ease-in;
          }
          .custom-box-header span:hover svg{
              stroke: #ffffff;
          }
          .custom-box-content{
              margin: 40px 20px 20px 20px;
          }
          .custom-box-content button{
                margin-top: 30px;
                width: 200px;
                background-color: white;
                color: #222;
                border: 1px solid #222;
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                font-size: 15px;
                margin-left: 70px;
                cursor: pointer;
          }
          .custom-box-content button:hover{
              background-color: #222;
              color: #fff;
              transition: 0.3s linear;

          }
          :root {
            --color-light: rgb(255, 255, 255);
            --color-dark: #444;
            --color-signal: #333;
            --color-background: var(--color-light);
            --color-text: var(--color-dark);
            --color-accent: var(--color-signal);
            --size-bezel: 0.5rem;
            --size-radius: 4px;
            line-height: 1.4;
            font-family: 'Inter', sans-serif;
            font-size: calc(.6rem + .4vw);
            color: var(--color-text);
            background: var(--color-background);
            font-weight: 300;
            padding: 0 calc(var(--size-bezel) * 3);
        }

        .input {
            position: relative;
        }
        .input__field:focus{
            outline: none !important;
        }
        .input__label {
            position: absolute;
            left: 0;
            top: 0;
            padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
            margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
            background: pink;
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            background: var(--color-background);
            transition: transform 120ms ease-in;
            font-weight: 500;
            line-height: 1.2;
            color: #222;
        }
        .input__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 2px solid #222;
            padding: 12px;
            color: currentColor;
            background: transparent;
            border-radius: var(--size-radius);
        }
        .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
            transform: translate(0.25rem, -65%) scale(0.8);
            color: var(--color-accent);
        }
        #left-icon-box{
            width: 40px;
            height: 40px;
            border-left: 2px solid #222;
            border-top: 2px solid #222;
            border-bottom: 2px solid #222;
            position: fixed;
            right:0px;
            top: 20%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #f4f4f4;
            cursor: pointer;
          }
          #left-icon-box img{
            width: 30px;
            height: 30px;
            margin-top: 7px;
            margin-left: 6px;
          }
